doctype
html
  head
    meta(charset='UTF-8')
    title Room
    link(rel='stylesheet', href='vendor/bower_components/bootstrap/dist/css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .content
      .container
        .row
          #logo.col-sm-3
            h1 my logo here
          #navigation.col-sm-9.well
            ul(class='nav navbar-nav')
              li: a(href='/') Home
              li: a(href='/hardcode') Work here
        block content
  block script
    script(src='vendor/bower_components/jquery/dist/jquery.js', type='text/javascript')
    script(src='vendor/bower_components/bootstrap/dist/js/bootstrap.js', type='text/javascript')